extends baseEmail

block content
  p Hi,
  p We've received a request to reset your password. If you didn't make the request,
  p just ignore this email.Otherwise, you can reset your password using the following link: 
  p #{token}
 
  p Our Best,
  strong Afrivac team

